/*category页主要内容*/
#category_main{
	flex-basis: 80%;
}
.category_main_section{
	position: relative;
	background: white;
	margin:0 10px;
	border-radius: 5px;
}
.category_main_section_aside{
	display: inline-block;
	width: 15%;
	height: 100%;
	text-align: center;
}
.category_main_section_year{
	font-weight: bold;
	font-size: 40px;
	color: #565656;
	margin-top: 20px;
	display: block;
}
.category_main_section_article{
	display: inline-block;
	width: 84%;
	vertical-align: top;
}
.category_main_section_article_article{
	margin: 0 2% 2% 2%;
	border-bottom: 1px solid #ddd;
	overflow: auto;
}
.category_main_section_article_top{
	width: 100%;
	line-height: 80px;
}
.category_main_section_article_article_h2{
	display: inline-block;
	width: 70%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.category_main_section_article_article_h2 a{
	color: #565656;
	font-size: 20px;
	-webkit-transition: all 0.3s; /* Safari */
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.category_main_section_article_article_h2 a:hover{
	color: #333;
}
.article_time{
	display: inline-block;
	width:29%;
	color: #aaa;
	text-align: right;
	vertical-align: top;
}
.category_main_section_article_bottom{
	color: #fa5252;
	font-size: 18px;
	line-height: 50px;
	float: right;
}
.article_tag{
	padding:5px 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #999;
	font-size: 14px;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	transition:all 0.5s;
}
@media screen and (max-width:768px){
	.category_main_section_year{
   		font-size: 18px;
   		margin: 0 2% 2% 2%;
   	}
   	.category_main_section_article_article_h2 a{
   		font-size: 14px;
   	}
	.category_main_section_aside{
		display: block;
		width: 100%;
		text-align: left;
	}

}
@media screen and (max-width:992px){
	#category_main{
		width: 100%;
		margin-top: 60px;
		position: absolute;
		z-index: -1;
	}
	.category_main_section{
		margin: 0;
		padding: 5px;
	}
	.category_main_section_year{
   		font-size: 22px;
   	}
   	.category_main_section_article_article_h2 a{
   		font-size: 16px;
   	}
   	.category_main_section_article_article_h2{
   		width: 59%;
   	}
   	.article_time{
   		width: 39%;
   	}
}
@media screen and (min-width:992px){
   	.category_main_section_year{
   		font-size: 35px;
   	}
   	.category_main_section_article_article_h2 a{
   		font-size: 18px;
   	}
}
@media screen and (min-width:1200px){
   	.category_main_section_year{
   		font-size: 40px;
   	}
   	.category_main_section_article_article_h2 a{
   		font-size: 20px;
   	}
}