body,html{
	width: 100%;
	height: 100%;
	min-width: 48px;
	overflow: visible;
}
/*设置最小高度*/
.min_height_block{
	min-height: 500px;
}
/*遮罩共同样式*/
.over_mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
}
/*第一页*/
#page_header{
	width: 100%;
	height: 100%;
	background: url(../images/index/page_header.png);
	background-repeat: no-repeat;
	background-size: cover;
}
/*遮罩*/
#page_mask{ 
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*第一页内容*/
#page_header_content{
	text-align: center;	
	width: 80%;
	height: 80%;
	text-shadow: 1px 1px 1px #ccc;
}
/*头像*/
#page_head_portrait{
	display: block;
	width: 100px;
	height: 100px;
	border: 5px solid white;
	border-radius: 55px;
	margin: 5% auto;
	-webkit-transition: all 1s; /* Safari */
    -moz-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}
#page_head_portrait:hover{
	-webkit-transform: rotate(180deg);
	-moz-transform:rotate(180deg);
	transform: rotate(180deg);
}
/*第一页icon*/
#page_header_icon{
	width: 100px;
	height: 100px;
	display: block;
    -webkit-transition: all 1s; /* Safari */
    -moz-transition: all 1s;
    transition: all 1s;
}
#page_header_icon:hover{
	-webkit-transform: translate(0px,15px);
	-moz-transform:translate(0px,15px);
	transform: translate(0px,15px);
}
/*第一页的文字*/
.page_header_p,#page_header_icon{
	font-weight: bold;
	color: white;
	margin:5% auto;
}
/*主页主要内容*/
#page_main{
	width: 100%;
	height: 100%;
}
/*导航条*/
#page_nav{
	width: 100%;
	height: 12%;
	position: absolute;
	top: 100%;
	background: rgba(250,82,82,1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 999;
	min-height: 81px;
}
.logo{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	padding: 5px;
	background-color: #fa5252;
	border: 3px solid white;
	margin:0 10%;
}
#page_nav_ul{
	flex-wrap: wrap;
	align-items: center;
	background: rgba(250,82,82,1);
	width: 60%;
	margin-right: 5%;
}
.page_nav_li{
	flex:1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

}
.page_nav_li_active{
	border: 2px solid white;
	border-radius: 3px;
}
/*导航条的a*/
.page_nav_a{
	font-size: 16px;
	color: white;
}
#page_nav_bars{
	display: none;
	height: 100%;
	width: 15%;
	font-size: 25px;
	color: white;
}
/*关于我*/
#page_main_about_me{
	background: url(../images/index/about_me.png); 
	background-attachment: fixed;
}
/*关于我的遮罩*/
#about_mask{
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background: rgba(0,0,0,0.7);
}
/*关于我主要内容*/
#page_main_about_me_article1{
	display: flex;
	align-items: center;
}
/*包含关于我图片的p*/
#page_main_about_me_img_p{
	flex:1 1 250px;
	margin-left: 5%;
}
/*关于我的图片*/
#page_main_about_me_img{
	width: 100%;
	border-radius: 250px;
}
/*关于我的文字*/
#page_main_about_me_article{
	margin: 0 5%;
	padding: 0 5%;
	flex:2 1 400px;
	height: 60%;
	background:rgb(69,88,113);
	border-radius: 20px;
	position: relative;
}
#page_main_about_me_h1{
	margin-top: 10px;
	font-weight: bold;
	
}
#page_main_about_me_article_p{
	margin: 40px 0;
	text-indent: 2em;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
	overflow: hidden;
}
/*博客页*/
#page_main_blogs{
	background: url(../images/index/blogs.png);
	background-attachment: fixed;
}
/*博客页遮罩*/
#blogs_mask{
	background: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
}
/*博客页主要内容*/
#page_main_blogs_article{
	position: relative;
}
/*博客h1*/
#page_main_blogs_h1{
	text-align: center;
	font-weight: bold;
	position: relative;
	flex-basis: 100%;
	color: white;
	padding-top: 5%;
}
#page_main_blogs_h1_span{
	position: absolute;
	right: 10%;
}
#page_main_blogs_h1_span a{
	color: white;
	font-size: 14px;
	position: relative;
}
.page_main_blogs_h1_span_i{
    position: relative;
    right: 0%;
    -webkit-transition: all 0.5s; /* Safari */
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#page_main_blogs_h1_span a:hover .page_main_blogs_h1_span_i{
	right: -10%;
}
/*博客主要内容*/
.page_main_blogs_article_ul{
	position: absolute;
	left: 50%;	
	margin-left:-55%;
	width: 110%;
	height: 80%;
	display: flex;
}
.page_main_blogs_article_li{
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.page_main_blogs_img{
	width: 90%;
	height: 50%;
	position: relative;
	z-index: 1;
}
/*博客文字内容*/
.page_main_blogs_li_article{
	background-color: white;
	width: 65%;
	height: 55%;
	color: #333;
	margin-top: -15%;
	padding: 10% 5%;
	position: relative;
	z-index: 2;
}
.page_main_blogs_h2{
	font-weight: bold;
	border-bottom: 2px solid #eee;
}
.page_main_blogs_p{
	margin: 5% 0;
	font-size: 14px;
	text-indent: 2em;
	width: 90%;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
	overflow: hidden;
}
.blogs_a_more:hover{
	border: 1px solid #fa5252;
	background-color: white;
}
.blogs_a_more:hover a{
	color: #fa5252;
}
/*评论页*/
#page_main_comment{
	background: url(../images/index/comment.png);
	background-attachment: fixed;
}
/*联系页*/
#page_main_contact{
	background: url(../images/index/contact.png);
	background-attachment: fixed;
}
/*联系页主要内容*/
#page_main_contact_article{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
/*联系页h1*/
#page_main_contact_h1{
	text-align: center;
	font-weight: bold;
	position: relative;
	flex-basis: 100%;
	color: white;
}
/*联系页表单*/
#page_main_contact_form{
	flex-basis: 70%;
	height: 70%;
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(250, 250, 250, 0.03);
	justify-content: center;
	align-content: space-around;
}
.page_main_contact_div{
	text-align: center;
	flex-basis: 50%;
}
.contact_input{
	width: 80%;
	height: 40px;
	padding-left: 2%;
	background-color: rgba(250, 250, 250, 0.05);
	color: #fff;
	border: none;
	border-radius: 3px;
}
#contact_textarea{
	width: 90%;
	height: 100px;
	padding-left: 1%;
	padding-top: 1%;
	background-color: rgba(250, 250, 250, 0.05);
	color: #fff;
	border: none;
	border-radius: 3px;
}
.contact_input:focus,#contact_textarea:focus{
	outline: none;
	box-shadow: 1px 1px 10px #315a75, -1px -1px 10px #315a75;
}
#contact_btn{
	background-color: #fa5252;
	border: 1px solid #fa5252;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all 0.5s; /* Safari */
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: white;
}
#contact_btn:hover{
	background-color: rgba(250, 250, 250, 0.05);
	border: 1px solid #fa5252;
	color: #fa5252;
}
/*页面css3动画*/
#page_main section{
	 perspective: 800px;
}
.page_turn_mask{
	-webkit-transform:rotateX(90deg); /* Safari and Chrome */
	-moz-transform:rotateX(90deg);
	transform:rotateX(90deg);
	-webkit-transform-origin:bottom;
	-moz-transform-origin:bottom;
	transform-origin:bottom;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.page_turn{
	-webkit-animation:page_turn 0.5s ease-out forwards;
    -moz-animation:page_turn 0.5s ease-out forwards;
    animation:page_turn 0.5s ease-out forwards;
}
@-webkit-keyframes page_turn{
    0%{-webkit-transform:rotateX(90deg);}
    /*50%{-webkit-transform:translate(30px);opacity:1;}
    70%{-webkit-transform:translate(35px);opacity:1;}*/
    100%{-webkit-transform:rotateX(0deg);}
}
@-moz-keyframes page_turn{
    0%{-moz-transform:rotateX(90deg);}
    /*50%{-moz-transform:translate(30px);opacity:1;}
    70%{-moz-transform:translate(35px);opacity:1;}*/
    100%{-moz-transform:rotateX(0deg);}
}
@keyframes page_turn{
    0%{transform:rotateX(90deg);}
    /*50%{transform:translate(30px);opacity:1;}
    70%{transform:translate(35px);opacity:1;}*/
    100%{transform:rotateX(0deg);}
}

@media screen and (max-width:768px){
	.page_header_p,#page_main_about_me_h1,.page_main_blogs_h2,#page_main_blogs_h1,#page_main_contact_h1{
		font-size: 18px;
	}
	#page_header_icon{
		font-size: 36px;
	}
	#page_main_about_me_article_p{
		line-height: 16px;
		font-size: 12px;
	}
	#page_nav_bars{
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	#page_nav_ul{
		display: none;
		position: absolute;
		top: 100%;
		width: 100%;
		border-top: 1px solid white;
	}
	.page_nav_li{
		flex-basis: 100%;
		height: 50px;
	}
	.page_main_blogs_article_li{
		display: none;
	}
	.page_main_blogs_article_li:first-of-type{
		display: flex;
	}
	#page_main_blogs_h1{
		text-align: left;
		padding-left: 10%;	
	}
	#page_main_contact_form{
		flex-basis: 90%;
	}
	.page_main_contact_div{
		flex-basis: 100%;
	}
	#contact_textarea{
		width: 80%;
		padding-left: 2%;
	}
	#contact_btn{
		width: 80px;
		height: 25px;
		font-size: 12px;
	}
}
@media screen and (min-width:768px){
	.page_header_p,#page_main_about_me_h1,.page_main_blogs_h2,#page_main_blogs_h1,#page_main_contact_h1{
		font-size: 25px;
	}
	#page_header_icon{
		font-size: 50px;
	}
	#page_main_about_me_article_p{
		line-height: 18px;
		font-size: 14px;
	}
	#page_nav_ul{
		display: flex;
		height: 100%;
	}
	.page_nav_li{
		height: 40%;
	}
	.page_main_blogs_article_li:last-of-type{
		display: none;
	}
	#contact_textarea{
		height: calc(80%-80px);
	}
	#contact_btn{
		width: 100px;
		height: 30px;
		font-size: 14px;
	}
}
@media screen and (min-width:992px){
   	.page_header_p,#page_main_about_me_h1,.page_main_blogs_h2,#page_main_blogs_h1,#page_main_contact_h1{
		font-size: 35px;
	}
	#page_header_icon{
		font-size: 70px;
	}
	#page_main_about_me_article_p{
		line-height: 20px;
		font-size: 16px;
	}
	#page_nav_ul{
		display: flex;
		height: 100%;
	}
	.page_nav_li{
		height: 45%;
	}
	.page_main_blogs_article_li:last-of-type{
		display: flex;
	}
	#contact_btn{
		width: 120px;
		height: 35px;
		font-size: 16px;
	}
}
@media screen and (min-width:1200px){
   	.page_header_p,#page_main_about_me_h1,.page_main_blogs_h2,#page_main_blogs_h1,#page_main_contact_h1{
		font-size: 40px;
	}
	#page_header_icon{
		font-size: 80px;
	}
	#page_main_about_me_article_p{
		line-height: 25px;
		font-size: 18px;
	}
	#page_nav_ul{
		display: flex;
		height: 100%;
	}
	.page_nav_li{
		height: 50%;
	}
	#contact_btn{
		width: 140px;
		height: 40px;
		font-size: 18px;
	}
}
